<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Yiyao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.yiyao.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllReceiveAddressServlet</display-name>
    <servlet-name>SelectAllReceiveAddressServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectAllReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllReceiveAddressServlet</servlet-name>
    <url-pattern>/SelectAllReceiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReceiveAddressServlet</display-name>
    <servlet-name>AddReceiveAddressServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.AddReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReceiveAddressServlet</servlet-name>
    <url-pattern>/AddReceiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectReceiveAddressServlet</display-name>
    <servlet-name>SelectReceiveAddressServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectReceiveAddressServlet</servlet-name>
    <url-pattern>/SelectReceiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReceiveAddressServlet</display-name>
    <servlet-name>UpdateReceiveAddressServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.UpdateReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReceiveAddressServlet</servlet-name>
    <url-pattern>/UpdateReceiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReceiveAddressServlet</display-name>
    <servlet-name>DeleteReceiveAddressServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteReceiveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReceiveAddressServlet</servlet-name>
    <url-pattern>/DeleteReceiveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopCarServlet</display-name>
    <servlet-name>AddShopCarServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.AddShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopCarServlet</servlet-name>
    <url-pattern>/AddShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShopCarServlet</display-name>
    <servlet-name>DeleteShopCarServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShopCarServlet</servlet-name>
    <url-pattern>/DeleteShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllShopCarServlet</display-name>
    <servlet-name>SelectAllShopCarServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectAllShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllShopCarServlet</servlet-name>
    <url-pattern>/SelectAllShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllShopCarServlet</display-name>
    <servlet-name>DeleteAllShopCarServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteAllShopCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllShopCarServlet</servlet-name>
    <url-pattern>/DeleteAllShopCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllCollectionServlet</display-name>
    <servlet-name>SelectAllCollectionServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectAllCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllCollectionServlet</servlet-name>
    <url-pattern>/SelectAllCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollectionServlet</display-name>
    <servlet-name>AddCollectionServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.AddCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectionServlet</servlet-name>
    <url-pattern>/AddCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllCollectionServlet</display-name>
    <servlet-name>DeleteAllCollectionServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteAllCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllCollectionServlet</servlet-name>
    <url-pattern>/DeleteAllCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectionServlet</display-name>
    <servlet-name>DeleteCollectionServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectionServlet</servlet-name>
    <url-pattern>/DeleteCollectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGoodsServlet</display-name>
    <servlet-name>SelectGoodsServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGoodsServlet</servlet-name>
    <url-pattern>/SelectGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGoodsTotalServlet</display-name>
    <servlet-name>SelectGoodsTotalServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectGoodsTotalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGoodsTotalServlet</servlet-name>
    <url-pattern>/SelectGoodsTotalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsServlet</display-name>
    <servlet-name>ShowGoodsServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.ShowGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsServlet</servlet-name>
    <url-pattern>/ShowGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEvaluateByGidServlet</display-name>
    <servlet-name>SelectEvaluateByGidServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectEvaluateByGidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEvaluateByGidServlet</servlet-name>
    <url-pattern>/SelectEvaluateByGidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEvaluateByEvaluteLevelServlet</display-name>
    <servlet-name>SelectEvaluateByEvaluteLevelServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectEvaluateByEvaluteLevelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEvaluateByEvaluteLevelServlet</servlet-name>
    <url-pattern>/SelectEvaluateByEvaluteLevelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvaluateServlet</display-name>
    <servlet-name>AddEvaluateServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.AddEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvaluateServlet</servlet-name>
    <url-pattern>/AddEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderformServlet</display-name>
    <servlet-name>AddOrderformServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.AddOrderformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderformServlet</servlet-name>
    <url-pattern>/AddOrderformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderformByStateServlet</display-name>
    <servlet-name>SelectOrderformByStateServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectOrderformByStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderformByStateServlet</servlet-name>
    <url-pattern>/SelectOrderformByStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderformByUIdServlet</display-name>
    <servlet-name>SelectOrderformByUIdServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectOrderformByUIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderformByUIdServlet</servlet-name>
    <url-pattern>/SelectOrderformByUIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderformByStateTotalServlet</display-name>
    <servlet-name>SelectOrderformByStateTotalServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectOrderformByStateTotalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderformByStateTotalServlet</servlet-name>
    <url-pattern>/SelectOrderformByStateTotalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderformByUidTotalServlet</display-name>
    <servlet-name>SelectOrderformByUidTotalServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectOrderformByUidTotalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderformByUidTotalServlet</servlet-name>
    <url-pattern>/SelectOrderformByUidTotalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderformServlet</display-name>
    <servlet-name>ShowOrderformServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.ShowOrderformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderformServlet</servlet-name>
    <url-pattern>/ShowOrderformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderformServlet</display-name>
    <servlet-name>DeleteOrderformServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteOrderformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderformServlet</servlet-name>
    <url-pattern>/DeleteOrderformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderformServlet</display-name>
    <servlet-name>UpdateOrderformServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.UpdateOrderformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderformServlet</servlet-name>
    <url-pattern>/UpdateOrderformServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCollectionByGidUidServlet</display-name>
    <servlet-name>SelectCollectionByGidUidServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.SelectCollectionByGidUidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCollectionByGidUidServlet</servlet-name>
    <url-pattern>/SelectCollectionByGidUidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectionByGidUidServlet</display-name>
    <servlet-name>DeleteCollectionByGidUidServlet</servlet-name>
    <servlet-class>com.yiyao.servlet.DeleteCollectionByGidUidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectionByGidUidServlet</servlet-name>
    <url-pattern>/DeleteCollectionByGidUidServlet</url-pattern>
  </servlet-mapping>
</web-app>